html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
    background-color: #eeeeee;
}

.menu-mobile {
    justify-content: center;
    align-items: center;
    background-color: #07a1a7;
    height: 4rem;
    display: none;
}

.menu-mobile a {
    display: flex;
    flex: 9;
    align-items: center;
    font-size: 20;
    text-align: center;
}

.menu-pc {
    display: flex;
    justify-content: space-around;
    background-color: #07a1a7;
    text-align: center;
    height: 3rem;
    border-radius: 0 0 10px 10px;
}

p {
    text-align: center;
    padding: 0px 30px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 0px 2px 0px 2px;
    padding: 0px 2px 0px 2px;
}

.menu-pc a:hover {
    color: #383838;
}

a:active {
    color: black;

}

label {
    color: white;
    margin-right: 10px;
    font-size: 20px;
    display: none;
}

#toggle {
    display: none;
}

label:hover {
    color: #000000;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    label {
        display: block;
    }
    .menu-mobile {
        display: flex;
    }
    .menu-pc {
        display: none;
    }
    #toggle:checked + .menu-pc {
        display: block;
    }
}

.content {
    text-align: center;
    padding: 0% 5%;
    background-color: #eeeeee;
}

.block {
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    border: white;
    border-style: solid;
}

h1 {
    margin-top: 20px;
}

img {
    width: auto ;
    max-width: 50% ;
    height: auto ;
  }

  #slider {
      overflow: hidden;
  }

  #slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      animation: 10s slider infinite;
  }

  #slider figure img {
      width: 20%;
      float: left;
  }

  @keyframes slider {
      0% {
          left: 0%;
      }
      20% {
          left: 0%;
      }
      25% {
          left:-100%;
      }
      45% {
          left: -100%;
      }
      50% {
          left: -200%;
      }
      70% {
          left: -200%;
      }
      75% {
          left: -300%;
      }
      95% {
          left: -300%;
      }
      100% {
          left: -400%;
      }
  }