html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    position: absolute;
    width: 100%;
    background: rgb(245, 245, 245);
}

img {
    max-width: 200px;
}

.siteContent {
    margin: 0 auto;
    padding-bottom: 3rem;
    max-width: 100%;
    text-align: center;
}

a.navbar-button {
    background: black;
    color: white;
    padding: 7px 16px;
    display: inline-block;
    text-decoration: none;
}

.gamedescription {
    padding: 2px;
    margin-bottom: 10px;
}

a:hover {
    border-bottom: 3px solid yellowgreen;
    color: rgb(126, 126, 126);
    padding: 7px 16px;
}

a:active {
    border-bottom: 3px solid yellowgreen;
    color: rgb(126, 126, 126);
    padding: 7px 16px;
}

h1 {
    font-size: 50px;
    padding: 0.1rem;
    margin: 0;
    color: yellowgreen;
}

nav.navbar {
    background: black;
    padding: 1rem;
    align-items: center;
    align-content: center;
    text-align: center;
    color: yellowgreen;
}