html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-mobile {
    justify-content: center;
    align-items: center;
    background-color: #07a1a7;
    height: 3rem;
    display: none;
}

.menu-mobile a {
    display: flex;
    flex: 9;
    align-items: center;
    font-size: 20;
    text-align: center;
}

.menu-pc {
    display: flex;
    justify-content: space-around;
    background-color: #07a1a7;
    text-align: center;
    height: 3rem;
}

p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 0px 2px 0px 2px;
    padding: 0px 2px 0px 2px;
}

.menu-pc a:hover {
    color: #383838;
}

a:active {
    color: black;

}

label {
    color: white;
    margin-right: 10px;
    font-size: 20px;
    display: none;
}

#toggle {
    display: none;
}

label:hover {
    color: #000000;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    label {
        display: block;
    }
    .menu-mobile {
        display: flex;
    }
    .menu-pc {
        display: none;
    }
    #toggle:checked + .menu-pc {
        display: block;
    }
}

.content {
    text-align: center;
    padding: 0px, 15%;
}

h1 {
    margin-top: 20px;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }